body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color:rgba(56, 2, 2, 0.733);
  display: flex;
  justify-content: center;
  align-items: center;
}

.whole{
  padding: 20px;
  width:70rem;
  text-align: center;
}


h1{
  text-align: center;
  margin-top: 30px;
  color: #ddd;
}

